## Importing all the required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df1 = pd.read_csv('dataset-1.csv')
df1

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [3]:
df2 = pd.read_csv('dataset-2.csv')
df2

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [4]:
df3 = pd.read_csv('dataset-3.csv')
df3

    id_start   id_end  distance
0    1001400  1001402       9.7
1    1001402  1001404      20.2
2    1001404  1001406      16.0
3    1001406  1001408      21.7
4    1001408  1001410      11.1
5    1001410  1001412      15.6
6    1001412  1001414      18.2
7    1001414  1001416      13.2
8    1001416  1001418      13.6
9    1001418  1001420      12.9
10   1001420  1001422       9.6
11   1001422  1001424      11.4
12   1001424  1001426      18.6
13   1001426  1001428      15.8
14   1001428  1001430       8.6
15   1001430  1001432       9.0
16   1001432  1001434       7.9
17   1001434  1001436       4.0
18   1001436  1001438       9.0
19   1001436  1001437       5.0
20   1001438  1001437       4.0
21   1001438  1001440      10.0
22   1001440  1001442       3.9
23   1001442  1001488       4.5
24   1001488  1004356       4.0
25   1004356  1004354       2.0
26   1004354  1004355       2.0
27   1004355  1001444       0.7
28   1001444  1001446       6.6
29   1001446  1001448       9.6
30   1001448  1001450      15.7
31   1001450  1001452       9.9
32   1001452  1001454      11.3
33   1001454  1001456      13.6
34   1001456  1001458       8.9
35   1001458  1001460       5.1
36   1001460  1001461      12.8
37   1001460  1001462      17.9
38   1001461  1001462       5.1
39   1001462  1001464      26.7
40   1001464  1001466       8.5
41   1001466  1001468      10.7
42   1001468  1001470      10.6
43   1001470  1001472      16.0

# Python Task 1

### Question 1: Car Matrix Generation

In [5]:
def generate_car_matrix(df):
    # Pivot the DataFrame using id_1 and id_2
    pivoted_df = df.pivot(index='id_1', columns='id_2', values='car')
    
    # Fill NaN values with 0
    pivoted_df = pivoted_df.fillna(0)
    
    # Replace diagonal values with 0
    for i in range(min(pivoted_df.shape)):
        pivoted_df.iloc[i, i] = 0
    
    return pivoted_df

In [7]:
# Assuming dataset-1.csv is loaded into a DataFrame called 'df'
# Replace 'dataset-1.csv' with the actual file path if needed

result = generate_car_matrix(df1)
print(result)

id_2    801    802    803    804    805    806    807    808    809    821  \
id_1
801    0.00   2.80   6.00   7.70  11.70  13.40  16.90  19.60  21.00  23.52
802    2.80   0.00   3.40   5.20   9.20  10.90  14.30  17.10  18.50  20.92
803    6.00   3.40   0.00   2.00   6.00   7.70  11.10  13.90  15.30  17.72
804    7.70   5.20   2.00   0.00   4.40   6.10   9.50  12.30  13.70  16.12
805   11.70   9.20   6.00   4.40   0.00   2.00   5.40   8.20   9.60  12.02
806   13.40  10.90   7.70   6.10   2.00   0.00   3.80   6.60   8.00  10.42
807   16.90  14.30  11.10   9.50   5.40   3.80   0.00   2.90   4.30   6.82
808   19.60  17.10  13.90  12.30   8.20   6.60   2.90   0.00   1.70   4.12
809   21.00  18.50  15.30  13.70   9.60   8.00   4.30   1.70   0.00   2.92
821   23.52  20.92  17.72  16.12  12.02  10.42   6.82   4.12   2.92   0.00
822   24.67  22.07  18.87  17.27  13.17  11.57   7.97   5.27   4.07   1.80
823   26.53  23.93  20.73  19.13  15.03  13.43   9.83   7.13   5.93   3.67
824   27.92  25.32  22.12  20.52  16.42   7.80  11.22   8.52   7.32   5.06
825   29.08  26.48  23.28  21.68  17.58  15.98  12.38   9.68   8.48   6.22
826   30.87  28.27  25.07  23.47  19.37  17.77  14.17  11.47  10.27   8.01
827   32.53  29.93  26.73  25.13  21.03  19.43  15.83  13.13  11.93   9.43
829   36.32  33.72  30.52  28.92  24.82  23.22  19.62  16.92  15.72  13.26
830   38.27  35.67  32.47  30.87  26.77  25.17  21.57  18.87  17.67  15.17
831   39.24  36.64  33.44  31.84  27.74  26.14  22.54  19.84  18.64  16.15

id_2    822    823    824    825    826    827    829    830    831
id_1
801   24.67  26.53  27.92  29.08  30.87  32.53  36.32  38.27  39.24
802   22.07  23.93  25.32  26.48  28.27  29.93  33.72  35.67  36.64
803   18.87  20.73  22.12  23.28  25.07  26.73  30.52  32.47  33.44
804   17.27  19.13  20.52  21.68  23.47  25.13  28.92  30.87  31.84
805   13.17  15.03  16.42  17.58  19.37  21.03  24.82  26.77  27.74
806   11.57  13.43  14.82  15.98  17.77  19.43  23.22  25.17  26.14
807    7.97   9.83  11.22  12.38  14.17  15.83  19.62  21.57  22.54
808    5.27   7.13   8.52   9.68  11.47  13.13  16.92  18.87  19.84
809    4.07   5.93   7.32   8.48  10.27  11.93  15.72  17.67  18.64
821    1.80   3.67   5.06   6.22   8.01   9.43  13.26  15.17  16.15
822    0.00   2.21   3.60   4.76   6.55   8.00  11.81  13.74  14.68
823    2.21   0.00   1.79   2.94   4.74   6.15  10.00  11.89  12.87
824    3.60   1.79   0.00   1.71   3.50   4.92   8.77  10.66  11.64
825    4.76   2.94   1.71   0.00   2.20   3.65   7.46   9.35  10.33
826    6.55   4.74   3.50   2.20   0.00   2.05   5.81   7.71   8.69
827    8.00   6.15   4.92   3.65   2.05   0.00   4.14   6.06   7.04
829   11.81  10.00  21.40   7.46   5.81   4.14   0.00   2.38   3.36
830   13.74  11.89  10.66   0.00   7.71   6.06   2.38   0.00   1.39
831   14.68  12.87  11.64  10.33   8.69   7.04   3.36   1.39   0.00

- This code defines a function called generate_car_matrix that takes a DataFrame df as input. 
- It uses the pivot function to rearrange the DataFrame based on 'id_1' and 'id_2' columns, fills NaN values with 0, and then replaces the diagonal values with 0.

### Question 2: Car Type Count Calculation

In [8]:
def get_type_count(df):
    # Add a new column 'car_type' based on conditions
    df['car_type'] = pd.cut(df['car'], bins=[-float('inf'), 15, 25, float('inf')], labels=['low', 'medium', 'high'])
    
    # Calculate count of occurrences for each car_type category
    type_count = df['car_type'].value_counts().to_dict()
    
    # Sort the dictionary alphabetically based on keys
    type_count = dict(sorted(type_count.items()))
    
    return type_count

In [9]:
# Assuming dataset-1.csv is loaded into a DataFrame called 'data'
# Replace 'dataset-1.csv' with the actual file path if needed

result = get_type_count(df1)
print(result)

{'high': 56, 'low': 196, 'medium': 89}

- This Python function get_type_count adds a new column 'car_type' to the DataFrame based on the specified conditions using pd.cut(). 
- It then calculates the count of occurrences for each 'car_type' category using value_counts() and converts it to a dictionary. 
- Finally, the dictionary is sorted alphabetically based on keys before being returned.

### Question 3: Bus Count Index Retrieval

In [10]:
def get_bus_indexes(df):
    # Calculate the mean of the 'bus' column
    mean_bus = df['bus'].mean()
    
    # Identify indices where 'bus' values are greater than twice the mean
    bus_indexes = df[df['bus'] > 2 * mean_bus].index.tolist()
    
    # Sort the indices in ascending order
    bus_indexes.sort()
    
    return bus_indexes

In [11]:
# Assuming dataset-1.csv is loaded into a DataFrame called 'df'
# Replace 'dataset-1.csv' with the actual file path if needed

result = get_bus_indexes(df1)
print(result)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

- This Python function get_bus_indexes first calculates the mean of the 'bus' column using mean(). 
- Then it filters the DataFrame to identify indices where the 'bus' values are greater than twice the mean using boolean indexing. 
- The indices are retrieved using .index.tolist(), sorted in ascending order, and returned as a list.

### Question 4: Route Filtering

In [12]:
def filter_routes(df):
    # Group by 'route' and calculate the average of 'truck' column for each route
    route_avg_truck = df.groupby('route')['truck'].mean()
    
    # Filter routes where the average of 'truck' column is greater than 7
    filtered_routes = route_avg_truck[route_avg_truck > 7].index.tolist()
    
    # Sort the routes in ascending order
    filtered_routes.sort()
    
    return filtered_routes

In [13]:
# Assuming dataset-1.csv is loaded into a DataFrame called 'data'
# Replace 'dataset-1.csv' with the actual file path if needed

result = filter_routes(df1)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- This Python function filter_routes first groups the DataFrame by the 'route' column and calculates the average of the 'truck' column for each route using groupby() and mean(). 
- It then filters routes where the average of the 'truck' column is greater than 7, retrieves the indices (which are route names), converts them to a list, sorts the list in ascending order, and returns the sorted list of routes.

### Question 5: Matrix Value Modification

In [14]:
def multiply_matrix(input_df):
    # Deep copy to avoid modifying the original DataFrame
    modified_df = input_df.copy(deep=True)

    # Apply the specified logic to modify values
    modified_df[modified_df > 20] *= 0.75
    modified_df[modified_df <= 20] *= 1.25

    # Round values to 1 decimal place
    modified_df = modified_df.round(1)

    return modified_df

In [15]:
# Assuming the resulting DataFrame from Question 1 is stored in the variable 'result'
# Replace 'result' with the actual DataFrame variable if needed
result = generate_car_matrix(df1)

# Call the function to modify the matrix values
modified_result = multiply_matrix(result)
print(modified_result)

id_2   801   802   803   804   805   806   807   808   809   821   822   823  \
id_1
801    0.0   3.5   7.5   9.6  14.6  16.8  21.1  24.5  19.7  22.0  23.1  24.9
802    3.5   0.0   4.2   6.5  11.5  13.6  17.9  21.4  23.1  19.6  20.7  22.4
803    7.5   4.2   0.0   2.5   7.5   9.6  13.9  17.4  19.1  22.2  23.6  19.4
804    9.6   6.5   2.5   0.0   5.5   7.6  11.9  15.4  17.1  20.2  21.6  23.9
805   14.6  11.5   7.5   5.5   0.0   2.5   6.8  10.2  12.0  15.0  16.5  18.8
806   16.8  13.6   9.6   7.6   2.5   0.0   4.8   8.2  10.0  13.0  14.5  16.8
807   21.1  17.9  13.9  11.9   6.8   4.8   0.0   3.6   5.4   8.5  10.0  12.3
808   24.5  21.4  17.4  15.4  10.2   8.2   3.6   0.0   2.1   5.2   6.6   8.9
809   19.7  23.1  19.1  17.1  12.0  10.0   5.4   2.1   0.0   3.6   5.1   7.4
821   22.0  19.6  22.2  20.2  15.0  13.0   8.5   5.2   3.6   0.0   2.2   4.6
822   23.1  20.7  23.6  21.6  16.5  14.5  10.0   6.6   5.1   2.2   0.0   2.8
823   24.9  22.4  19.4  23.9  18.8  16.8  12.3   8.9   7.4   4.6   2.8   0.0
824   20.9  23.7  20.7  19.2  20.5   9.8  14.0  10.6   9.2   6.3   4.5   2.2
825   21.8  24.8  21.8  20.3  22.0  20.0  15.5  12.1  10.6   7.8   5.9   3.7
826   23.2  21.2  23.5  22.0  24.2  22.2  17.7  14.3  12.8  10.0   8.2   5.9
827   24.4  22.4  20.0  23.6  19.7  24.3  19.8  16.4  14.9  11.8  10.0   7.7
829   27.2  25.3  22.9  21.7  23.3  21.8  24.5  21.2  19.7  16.6  14.8  12.5
830   28.7  26.8  24.4  23.2  20.1  23.6  20.2  23.6  22.1  19.0  17.2  14.9
831   29.4  27.5  25.1  23.9  20.8  24.5  21.1  24.8  23.3  20.2  18.4  16.1

id_2   824   825   826   827   829   830   831
id_1
801   20.9  21.8  23.2  24.4  27.2  28.7  29.4
802   23.7  24.8  21.2  22.4  25.3  26.8  27.5
803   20.7  21.8  23.5  20.0  22.9  24.4  25.1
804   19.2  20.3  22.0  23.6  21.7  23.2  23.9
805   20.5  22.0  24.2  19.7  23.3  20.1  20.8
806   18.5  20.0  22.2  24.3  21.8  23.6  24.5
807   14.0  15.5  17.7  19.8  24.5  20.2  21.1
808   10.6  12.1  14.3  16.4  21.2  23.6  24.8
809    9.2  10.6  12.8  14.9  19.7  22.1  23.3
821    6.3   7.8  10.0  11.8  16.6  19.0  20.2
822    4.5   5.9   8.2  10.0  14.8  17.2  18.4
823    2.2   3.7   5.9   7.7  12.5  14.9  16.1
824    0.0   2.1   4.4   6.2  11.0  13.3  14.6
825    2.1   0.0   2.8   4.6   9.3  11.7  12.9
826    4.4   2.8   0.0   2.6   7.3   9.6  10.9
827    6.2   4.6   2.6   0.0   5.2   7.6   8.8
829   20.1   9.3   7.3   5.2   0.0   3.0   4.2
830   13.3   0.0   9.6   7.6   3.0   0.0   1.7
831   14.6  12.9  10.9   8.8   4.2   1.7   0.0

- This function multiply_matrix makes a deep copy of the input DataFrame to avoid modifying the original one. 
- Then, it applies the specified logic to modify the values in the DataFrame.
- Values greater than 20 are multiplied by 0.75, and values 20 or less are multiplied by 1.25. 
- Finally, the modified DataFrame is rounded to 1 decimal place and returned.

# Python Task 2

### Question 1: Distance Matrix Calculation

In [17]:
def calculate_distance_matrix(df):
    # Assuming the dataset has columns: 'start_id', 'end_id', 'distance'
    
    # Create a pivot table to represent distances between IDs
    pivot = df.pivot(index='id_start', columns='id_end', values='distance').fillna(0)
    
    # Make the matrix symmetric by adding its transpose
    distance_matrix = pivot + pivot.T
    
    # Replace diagonal values with 0
    distance_matrix.values[[range(distance_matrix.shape[0])]*2] = 0
    
    return distance_matrix

In [18]:
# Load the dataset-3.csv into a DataFrame
# Replace 'dataset-3.csv' with the actual file path if needed

# Call the function to calculate the distance matrix
result = calculate_distance_matrix(df3)
print(result)

         1001400  1001402  1001404  1001406  1001408  1001410  1001412  \
1001400      0.0      NaN      NaN      NaN      NaN      NaN      NaN
1001402      NaN      0.0     20.2      0.0      0.0      0.0      0.0
1001404      NaN     20.2      0.0     16.0      0.0      0.0      0.0
1001406      NaN      0.0     16.0      0.0     21.7      0.0      0.0
1001408      NaN      0.0      0.0     21.7      0.0     11.1      0.0
1001410      NaN      0.0      0.0      0.0     11.1      0.0     15.6
1001412      NaN      0.0      0.0      0.0      0.0     15.6      0.0
1001414      NaN      0.0      0.0      0.0      0.0      0.0     18.2
1001416      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001418      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001420      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001422      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001424      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001426      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001428      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001430      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001432      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001434      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001436      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001437      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001438      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001440      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001442      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001444      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001446      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001448      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001450      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001452      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001454      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001456      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001458      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001460      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001461      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001462      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001464      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001466      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001468      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001470      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1001472      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001488      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1004354      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1004355      NaN      0.0      0.0      0.0      0.0      0.0      0.0
1004356      NaN      0.0      0.0      0.0      0.0      0.0      0.0

         1001414  1001416  1001418  ...  1001462  1001464  1001466  1001468  \
1001400      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001402      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001404      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001406      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001408      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001410      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001412     18.2      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001414      0.0     13.2      0.0  ...      0.0      0.0      0.0      0.0
1001416     13.2      0.0     13.6  ...      0.0      0.0      0.0      0.0
1001418      0.0     13.6      0.0  ...      0.0      0.0      0.0      0.0
1001420      0.0      0.0     12.9  ...      0.0      0.0      0.0      0.0
1001422      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001424      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001426      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001428      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001430      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001432      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001434      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001436      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001437      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001438      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001440      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001442      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001444      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001446      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001448      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001450      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001452      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001454      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001456      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001458      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1001460      0.0      0.0      0.0  ...     17.9      0.0      0.0      0.0
1001461      0.0      0.0      0.0  ...      5.1      0.0      0.0      0.0
1001462      0.0      0.0      0.0  ...      0.0     26.7      0.0      0.0
1001464      0.0      0.0      0.0  ...     26.7      0.0      8.5      0.0
1001466      0.0      0.0      0.0  ...      0.0      8.5      0.0     10.7
1001468      0.0      0.0      0.0  ...      0.0      0.0     10.7      0.0
1001470      0.0      0.0      0.0  ...      0.0      0.0      0.0     10.6
1001472      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001488      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1004354      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1004355      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
1004356      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0

         1001470  1001472  1001488  1004354  1004355  1004356
1001400      NaN      NaN      NaN      NaN      NaN      NaN
1001402      0.0      NaN      0.0      0.0      0.0      0.0
1001404      0.0      NaN      0.0      0.0      0.0      0.0
1001406      0.0      NaN      0.0      0.0      0.0      0.0
1001408      0.0      NaN      0.0      0.0      0.0      0.0
1001410      0.0      NaN      0.0      0.0      0.0      0.0
1001412      0.0      NaN      0.0      0.0      0.0      0.0
1001414      0.0      NaN      0.0      0.0      0.0      0.0
1001416      0.0      NaN      0.0      0.0      0.0      0.0
1001418      0.0      NaN      0.0      0.0      0.0      0.0
1001420      0.0      NaN      0.0      0.0      0.0      0.0
1001422      0.0      NaN      0.0      0.0      0.0      0.0
1001424      0.0      NaN      0.0      0.0      0.0      0.0
1001426      0.0      NaN      0.0      0.0      0.0      0.0
1001428      0.0      NaN      0.0      0.0      0.0      0.0
1001430      0.0      NaN      0.0      0.0      0.0      0.0
1001432      0.0      NaN      0.0      0.0      0.0      0.0
1001434      0.0      NaN      0.0      0.0      0.0      0.0
1001436      0.0      NaN      0.0      0.0      0.0      0.0
1001437      NaN      NaN      NaN      NaN      NaN      NaN
1001438      0.0      NaN      0.0      0.0      0.0      0.0
1001440      0.0      NaN      0.0      0.0      0.0      0.0
1001442      0.0      NaN      4.5      0.0      0.0      0.0
1001444      0.0      NaN      0.0      0.0      0.7      0.0
1001446      0.0      NaN      0.0      0.0      0.0      0.0
1001448      0.0      NaN      0.0      0.0      0.0      0.0
1001450      0.0      NaN      0.0      0.0      0.0      0.0
1001452      0.0      NaN      0.0      0.0      0.0      0.0
1001454      0.0      NaN      0.0      0.0      0.0      0.0
1001456      0.0      NaN      0.0      0.0      0.0      0.0
1001458      0.0      NaN      0.0      0.0      0.0      0.0
1001460      0.0      NaN      0.0      0.0      0.0      0.0
1001461      0.0      NaN      0.0      0.0      0.0      0.0
1001462      0.0      NaN      0.0      0.0      0.0      0.0
1001464      0.0      NaN      0.0      0.0      0.0      0.0
1001466      0.0      NaN      0.0      0.0      0.0      0.0
1001468     10.6      NaN      0.0      0.0      0.0      0.0
1001470      0.0      NaN      0.0      0.0      0.0      0.0
1001472      NaN      0.0      NaN      NaN      NaN      NaN
1001488      0.0      NaN      0.0      0.0      0.0      4.0
1004354      0.0      NaN      0.0      0.0      2.0      2.0
1004355      0.0      NaN      0.0      2.0      0.0      0.0
1004356      0.0      NaN      4.0      2.0      0.0      0.0

[43 rows x 43 columns]

- This function calculate_distance_matrix assumes the dataset has columns 'start_id', 'end_id', and 'distance'. 
- It uses pivot() to create a matrix representing distances between different IDs. 
- Then, it makes the matrix symmetric by adding its transpose and replaces diagonal values with zeros.

### Question 2: Unroll Distance Matrix

In [19]:
def unroll_distance_matrix(distance_matrix):
    # Reset index to convert the distance_matrix into long-form
    distance_matrix = distance_matrix.reset_index()
    
    # Melt the DataFrame to reshape it into a long format
    unrolled_distance = pd.melt(distance_matrix, id_vars='id_start', var_name='id_end', value_name='distance')
    
    # Filter out rows where start_id equals end_id
    unrolled_distance = unrolled_distance[unrolled_distance['id_start'] != unrolled_distance['id_end']]
    
    return unrolled_distance[['id_start', 'id_end', 'distance']]

In [20]:
# Assuming 'result' contains the distance matrix DataFrame from Question 1
# Replace 'result' with the actual DataFrame variable
unrolled_data = unroll_distance_matrix(df3)
print(unrolled_data)

     id_start    id_end  distance
0     1001400     index       0.0
1     1001402     index       1.0
2     1001404     index       2.0
3     1001406     index       3.0
4     1001408     index       4.0
..        ...       ...       ...
127   1001462  distance      26.7
128   1001464  distance       8.5
129   1001466  distance      10.7
130   1001468  distance      10.6
131   1001470  distance      16.0

[132 rows x 3 columns]

In [21]:
unrolled_data_df = pd.DataFrame(unrolled_data)
print(unrolled_data_df)

     id_start    id_end  distance
0     1001400     index       0.0
1     1001402     index       1.0
2     1001404     index       2.0
3     1001406     index       3.0
4     1001408     index       4.0
..        ...       ...       ...
127   1001462  distance      26.7
128   1001464  distance       8.5
129   1001466  distance      10.7
130   1001468  distance      10.6
131   1001470  distance      16.0

[132 rows x 3 columns]

- This function unroll_distance_matrix takes the DataFrame generated in Question 1 (assuming it's stored in the variable 'result') and transforms it into a long-format DataFrame containing three columns: 'start_id', 'end_id', and 'distance'. 
- It filters out rows where 'start_id' equals 'end_id'.

### Question 3: Finding IDs within Percentage Threshold

def find_ids_within_ten_percentage_threshold(df, reference_value):
    # Calculate the average distance for the reference value
    avg_distance = df[df['id_start'] == reference_value]['distance'].mean()
    
    # Calculate the threshold values (10% of the average distance)
    threshold_min = avg_distance * 0.9
    threshold_max = avg_distance * 1.1
    
    # Filter 'id_start' values within the threshold range
    within_threshold = df[(df['id_start'] != reference_value) & 
                          (df['distance'] >= threshold_min) & 
                          (df['distance'] <= threshold_max)]['id_start'].unique()
    
    # Sort the 'id_start' values within the threshold
    sorted_within_threshold = sorted(within_threshold)
    
    return sorted_within_threshold

# Assuming 'unrolled_data' contains the DataFrame from Question 2
# Replace 'unrolled_data' with the actual DataFrame variable

# Replace 'reference_value' with the actual reference value from 'id_start' column
reference_value = 1001400  # Replace with the actual reference value

result_ids_within_threshold = find_ids_within_ten_percentage_threshold(unrolled_data, reference_value)
print(result_ids_within_threshold)

### Question 4: Calculate Toll Rate

In [23]:
def calculate_toll_rate(df):
    # Define rate coefficients for each vehicle type
    rate_coefficients = {
        'moto': 0.8,
        'car': 1.2,
        'rv': 1.5,
        'bus': 2.2,
        'truck': 3.6
    }
    
    # Calculate toll rates for each vehicle type and add columns to the DataFrame
    for vehicle, rate in rate_coefficients.items():
        df[vehicle] = df['distance'] * rate
    
    return df

In [24]:
# Assuming 'df' is the DataFrame from Question 2
# Replace 'df' with the actual DataFrame variable

result_df = calculate_toll_rate(unrolled_data_df)
print(result_df)

     id_start    id_end  distance   moto    car     rv    bus  truck
0     1001400     index       0.0   0.00   0.00   0.00   0.00   0.00
1     1001402     index       1.0   0.80   1.20   1.50   2.20   3.60
2     1001404     index       2.0   1.60   2.40   3.00   4.40   7.20
3     1001406     index       3.0   2.40   3.60   4.50   6.60  10.80
4     1001408     index       4.0   3.20   4.80   6.00   8.80  14.40
..        ...       ...       ...    ...    ...    ...    ...    ...
127   1001462  distance      26.7  21.36  32.04  40.05  58.74  96.12
128   1001464  distance       8.5   6.80  10.20  12.75  18.70  30.60
129   1001466  distance      10.7   8.56  12.84  16.05  23.54  38.52
130   1001468  distance      10.6   8.48  12.72  15.90  23.32  38.16
131   1001470  distance      16.0  12.80  19.20  24.00  35.20  57.60

[132 rows x 8 columns]

- This function calculate_toll_rate takes the DataFrame created in Question 2 as input.
- It adds five columns ('moto', 'car', 'rv', 'bus', 'truck') to the input DataFrame, where each column contains the toll rates calculated by multiplying the distance with the rate coefficients specified for each vehicle type. 
- Adjust the DataFrame variable df according to your dataset before running the function.

### Question 5: Calculate Time-Based Toll Rates

In [25]:
from datetime import datetime, timedelta

In [26]:
import pandas as pd

def calculate_time_based_toll_rates0(df):
    # Convert 'startTime' and 'endTime' columns to datetime objects
    df['startTime'] = pd.to_datetime(df['startTime'])
    df['endTime'] = pd.to_datetime(df['endTime'])
    
    # Extract day names and create time intervals
    df['startDay'] = df['startTime'].dt.day_name()
    df['endDay'] = df['endTime'].dt.day_name()
    df['startHour'] = df['startTime'].dt.hour
    df['endHour'] = df['endTime'].dt.hour
    
    # Define discount factors based on time intervals
    def get_discount_factor(row):
        if row['startDay'] in ['Saturday', 'Sunday']:
            return 0.7
        else:
            if 0 <= row['startHour'] < 10 or 18 <= row['startHour'] <= 23:
                return 0.8
            elif 10 <= row['startHour'] < 18:
                return 1.2
    
    # Initialize vehicle columns with default values
    vehicle_columns = ['moto', 'car', 'rv', 'bus', 'truck']
    for vehicle in vehicle_columns:
        df[vehicle] = 0.0
    
    # Apply discount factors based on time ranges to vehicle columns
    for vehicle in vehicle_columns:
        df[vehicle] += df['distance'] * df.apply(lambda row: get_discount_factor(row), axis=1)
    
    return df[['startDay', 'startTime', 'endDay', 'endTime'] + vehicle_columns]